<h3>Welcome, Please complete your profile.</h3>

<%= simple_form_for(current_volunteer, :url => url_for(:action => 'update_profile', :controller => 'volunteers'), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <label class="control-label">Select Interests</label>
    <div class="control-group">
      <% @interests.each_slice(4) do |slice| -%>
      <div class="controls span2" style="margin-left:6%;">
        <% slice.each do |interest| -%>
          <label class="checkbox">
            <%= check_box_tag "volunteer[interest_id][]", interest.id, current_volunteer.interests.include?(interest) %>
            <%= interest.name %>
            <!-- <input type="checkbox" value="<%= interest.id %>" id="<%= interest.id %>"> <%= interest.name %> -->
          </label>
        <% end -%>
      </div>
      <% end -%>
    </div>
  </div>
  <p>Please select the schools from the map below that you can volunteer at</p>
  <% for error_msg in current_volunteer.errors[:schools] %>
    <p class="text-error"><%= error_msg %></p>
  <% end %>
  
  
  <div class="js-map-input">
    <div id="map-box"></div>
    
    <div class="control-group">
      <label class="control-label">Selected Schools</label>
      <div class="controls js-items-holder"></div>
    </div>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Complete", :class => 'btn-primary btn-large' %>
  </div>
<% end %>

