<%= simple_form_for(@message, :html => {:class => 'form-horizontal' }) do |f| %>
  <legend>Send Message</legend>
  <%= f.error_notification %>
  <%= f.input :to, :value => @volunteer.email, :as => :hidden %>
  <%= f.input :from, :value => @teacher.email, :as => :hidden %>
  <div class="control-group hidden">
    <div class="controls">
      <input class="hidden" id="message_conversation_id" name="message[conversation_id]" type="hidden" value="<%= @conversation.id %>">
    </div>
  </div>
  <div class="control-group">
    <label class="integer control-label" for="message_to">To</label>
    <div class="controls"><%= @volunteer.email %>
    </div>
  </div>
  <div class="control-group">
    <label class="integer control-label" for="message_to">From</label>
    <div class="controls"><%= @teacher.email %>
    </div>
  </div>
  <%= f.input :content, :required => true %>
  
  <div class="form-actions">
    <%= f.button :submit, "Send Message", :class => 'btn-primary btn-large' %>
  </div>
<% end %>
