<div class="row">
  <div class="span8">
    <p><%= pluralize(@volunteers.results.total_count, 'volunteer') %> available at <strong><%= current_teacher.school_name %></strong></p>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Interests</th>
        </tr>
      </thead>
      <tbody>
        <% @volunteers.results.each do |volunteer| %>
          <tr>
            <td><%= volunteer.first_name %></td>
            <td><%= volunteer.last_name %></td>
            <td><%= volunteer.email %></td>
            <td><%= volunteer.interests.map(&:name).join(", ") %></td>
            <td><%= link_to "Message Volunteer", :controller => "conversations", :action => "show", :id => Conversation.find_or_create_by_teacher_id_and_volunteer_id(:teacher_id => current_teacher.id, :volunteer_id => volunteer.id).id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   
  </div>
  <div class="span4">
    <h3>Add Filters</h3>
    
      <% for row in @volunteers.facet(:interests).rows %>
        <% if params[:interests].blank? %>
          <% link_to row.value, :interests => row.value %>
        <% else %>
          <% link_to "remove", :department => nil %>
        <% end %>
        
      <% end %>

  </div>
</div>
